<div class="container-fluid flex-container">
  <div class="row">
    <div class="col-12">
      <div class="the-box hero">
        <h1>Sorry for the confusion...</h1>
        <p>You've reached a bad Shawn Link. Feel free to send Shawn an <a href="mailto:shawn@wildermuth.com?subject=Bad Shawn Link">email</a> if you think this was in error.</p>
        <div style="font-size: 8px;color: #222;">(v1.0.5)</div>
      </div>
    </div>
  </div>
</div>
