<div class="-container-fluid -flex -justify-center -items-center -w-full -h-screen -bg-[url('/img/back.jpg')] -bg-cover">
  <div class="-w-2/3 -rounded -bg-black/50 -p-4 -mx-auto">
    <div class="-text-xl -text-white">
      <h1 class="-font-bold -text-3xl -mb-4">Sorry for the confusion...</h1>
      <p>You've reached a bad Shawn Link. Feel free to send Shawn an <a class="-text-blue-300 hover:-underline"
          href="mailto:shawn@wildermuth.com?subject=Bad Shawn Link">email</a> if you think this was in error.</p>
      <div class="text-xs text-gray-500 mt-8">(v1.0.5)</div>
    </div>
  </div>
</div>
