<environment include="Development">
  @section scripts {
    <script type="module" src="http://localhost:5173/src/main.js"></script>
  }
</environment>
<environment exclude="Development">
  @section styles {
    <link rel="stylesheet" asp-href-include="~/app/assets/index-*.css ">
  }
  @section scripts {
  <script asp-src-include="~/app/assets/index-*.js"></script>
  }
</environment>
<div id="admin"></div>
